body {
    background-color: white;
}

nav{
    text-align: center;
}

.navbar{
    border-radius: 0%;
    position: static;
    background-color: black;
}

.navbar-brand{
    font-family: Comic Sans MS;
}

.navbar-form{
    display: inline-block;
}
#profilepic {
	height:20em;
	width:20em;
	padding:0.5em;
	border-radius:2em;
}
/* html {
	background: url(home.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
} */
#profilepicdisplay {
	height:5em;
	width:5em;
	padding:0.5em;
	border-radius:2em;
}